:root {
    --primary-color:#292934;
    --secondary-light-color:#4A4A5C;
    --tertiary-light-color:#68687C;
    --secondary-dark-color:#1A1A2B;
    --tertiary-dark-color:#111126;
    --trans-blue-color:#5BCEFA;
    --trans-pink-color:#F5A9B8;
    --transparent-color:rgb(0 0 0 / 0%);
    --text-color:#FFF;
    --border-width:3px;
    --border-radius:20px;
}

@font-face {
    font-family: ROSSTEN;
    src: url("fonts/rossten/ROSSTEN.ttf");
}

@font-face {
    font-family: KGLoveMolly;
    src: url("fonts/kg_love_molly/KGLoveMolly.ttf");
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Base styles (mobile first)
   0–600px: default mobile layout
----------------------------------------- */
/* -----------------------------------------
   BASE (0–600px)
----------------------------------------- */

.dropdown-menu {
    background-color: var(--secondary-dark-color) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto auto auto 20px;
    height: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid var(--secondary-dark-color);
}

.menu-horizontal {
    display: none;
}
.project-horizontal {
    max-width: 120px;
}
.project-horizontal:hover #large-screen-projects {
    max-height: 300px;
    z-index: 10;
}

#large-screen-projects {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 177px;
    left: 0;
    width: 400px;
    max-height: 0;
    overflow: hidden;
    z-index: 15;
}

.hidden-dropdown-item {
    display: block;
    background-color: var(--secondary-dark-color);
    overflow: hidden;
}

.project {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-dark-color);
    border-bottom: 2px solid var(--secondary-dark-color);
    cursor: pointer;
    margin: 0 auto 0 50px;
    padding-bottom: 4px;
}

.project:hover {
    border-bottom-color: white;
}
.project-hovered {
    border-bottom: 2px solid white;
}

.menu-icon-projects {
    max-width: 30px;
    max-height: 30px;
    margin: auto 10px auto 0;
}

.expanding-project-container {
    margin: auto 10px auto 0;
}

#menu-container {
    width: 100%;
    border-bottom: 2px solid white;
    background-color: var(--secondary-dark-color);
}
.menu {
    display: flex;
    max-width: 800px;
    margin: auto;
    background-color: var(--secondary-dark-color);
}
#expanding-menu-button {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

/* Small tablets / large phones
   ≥600px
----------------------------------------- */
@media (min-width: 600px) {
    .parent-title {
        justify-self: center;
        margin-right: 0;
    }

}

/* Tablets
   ≥768px
----------------------------------------- */
@media (min-width: 768px) {
    .expanding-animation {
        display: none !important;
    }
    #expanding-menu-button {
        display: none !important;
    }
    .menu-horizontal {
        display: flex;
    }
    .project {
        width: 90%;
        margin: 5px auto 5px 10px;
        padding-right: 10px;
    }
}

/* Small desktops
   ≥1024px
----------------------------------------- */
@media (min-width: 1024px) {

}

/* Medium desktops
   ≥1300px
----------------------------------------- */
@media (min-width: 1301px) {
    .project-image-description {
        flex-direction: row;
    }

    .project-image-container {
        margin: auto 10px;
    }

    .stage-content {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto 0 auto;
    }

    .stage-image-container {
        grid-area: 1 / 2 / 2 / 3;
        margin-bottom: 10px !important;
    }

    .stage-description {
        grid-area: 1 / 3 / 2 / 4;
        margin: auto auto 30px auto !important;
    }


}


/* Large desktops
   ≥1900px
----------------------------------------- */
@media (min-width: 1900px) { }

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* BANNER */

#banner-background {
    position: absolute;
    display:flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: var(--tertiary-dark-color);
    z-index: 0;
}

#banner-right {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("images/icons/pride-flags/prideflag.svg");

    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#banner {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    margin: 0;
    border-top-color: var(--tertiary-dark-color);
    background-color: var(--tertiary-dark-color);
    border-bottom-color: var(--secondary-light-color);
    border-style: solid;
}

#banner-center {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-color);
    margin: auto;
    z-index: 1;
}

.main-title {
    font-family: ROSSTEN, serif;
    font-size: clamp(1rem,13vw,77px);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: var(--text-color);
    padding: 7px;
}

.secondary-title {
    font-family: ROSSTEN, serif;
    font-size: clamp(1rem, 6vw, 35px);
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title {
    font-family: KGLoveMolly, serif;
    font-weight: bold;
    color: var(--text-color);
    
}

.parent-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3vh;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    margin: 5px;
    padding-right: 15px;
}
.menu-icon {
    height: 100%;
    margin-right: auto;
}


.hidden-dropdown-item a {
    text-decoration: none;
    display: block;

}

.title {
    padding: 8px;
}

.title:hover {
    background-color: var(--tertiary-light-color);
}

.dropdown-menu:hover .hidden-dropdown-item{
    display: block;
    z-index: 10;
}

.dropdown-menu:hover{
    border-bottom-color: white;
}

.tag-label {
    display: flex;
    align-self: baseline;
    flex-direction: row;
    color: var(--text-color);
    font-weight: bold;
    margin: 0 0 8px;
    padding-bottom: 0.5vh;
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-light-color) var(--secondary-light-color) white var(--secondary-light-color);
}

/* Dropdown Menu */
.menu {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-dark-color);
    width: 100%;
    height: 50px;
    padding-left: 5px;
    align-items: flex-start;
}

/* CONTENT SECTION */
.project-container {
    width: 90vw;
    height: 30%;
    background-color: var(--secondary-light-color);
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    box-shadow: var(--tertiary-dark-color) 0 0 15px;
}

.project-title-font {
    font-weight: bold;
    color: var(--text-color);
    font-size: 17px;
}

.project-description {
    color:var(--text-color);
    background-color: var(--tertiary-light-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--border-radius);
}

.project-image-container {
    background-color: var(--tertiary-light-color);
    padding: 10px;
    border-radius: var(--border-radius);
    max-width: 280px;
    margin: 10px auto;
}

.project-tags {
    display: flex;
    flex-flow: row wrap;
}

.project-tag:hover {
    background-color: var(--tertiary-light-color);
}

.project-tag {
    color: var(--text-color);
    border: 2px solid white;
    border-radius: var(--border-radius);
    margin-left: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    white-space: nowrap;
    padding: 5px;
    cursor: pointer;
}
.bold {
    font-weight: bold !important;
    font-size: 20px !important;
}
.project-paragraph-font-size {
    font-size: 15px !important;
}

#content {
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100vw;
    min-height: 70vh;
}

.text-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto !important;
}

.project-image {
    padding: 2px;
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    height: 250px;
}

.information {
    display: flex;
    flex-direction: row-reverse;
}

.more-information-button {
    color: var(--text-color);
    border: 4px solid white;
    border-radius: var(--border-radius);
    white-space: nowrap;
    padding: 8px;
    font-weight: bold;
    margin: 15px 0 0 5px;
    font-family: KGLoveMolly, serif;
    cursor: pointer;
}

.more-information-button:hover {
    background-color: var(--tertiary-light-color);
}

.project-image-description {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 2px;
}

/* Global Section */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--tertiary-dark-color);
    overflow-x: hidden;
}

.last-project {
    margin-bottom: 50px;
}

#footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 120px;
    padding: 0;
    border-bottom-color: var(--tertiary-dark-color);
    background-color: var(--tertiary-dark-color);
    border-top-color: var(--secondary-light-color);
    border-style: solid;
    justify-content: center;
    background-image: url("images/icons/pride-flags/transflag.svg");

    background-size: cover;
    background-position: left;
}

#copyright {
    color: var(--text-color);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20px;
}

/* Contact Me */
#contact-me {
    position: fixed;
    display: none;
    flex-direction: column;
    top: calc(50vh - 25vh);
    left: auto;
    right: auto;
    max-width: 500px;
    width: 90%;
    height: auto;
    border: 2px solid var(--tertiary-dark-color);
    box-shadow: var(--tertiary-dark-color) 0 0 15px;
    z-index: 1;
}

#modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#close-button-container {
    display: flex;
    flex-direction: row-reverse;
    height: 20%;
}

#close-button {
    position: relative;
    height: 100%;
    background-color: var(--transparent-color);
    cursor: pointer;
}

.close {
    position: absolute;
    right: 12%;

}

.close-image {
    z-index: 2;
}

.close-image-hover {
    display: none;
    z-index: 3;
}

#close-button:hover .close-image-hover {
    display: initial;
}

#close-button:hover .close-image {
    display: none;
}

.contact-container {
    height: 75px;
    width: 100%;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#contact-title {
    margin: auto;
    font-size: 7vh;
}

#contact-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 15%;
    height: 100%;
}

.contact-locations {
    margin: auto auto auto 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    text-align: center;
}

.contact-title {
    font-size: 20px;
    align-self: center;
    justify-self: center;
    margin: auto auto auto 15px;
}

#github-title {
    text-decoration-line: underline;
    cursor: pointer;
}

#psyche-title {
    text-decoration-line: underline;
    cursor: pointer;
}

/* About Me */
#about-me {
    display: none;
    background-color: var(--primary-color);
    min-height: 72vh;
    min-width: 100vw;
}

.about-me {
    max-width: 1000px;
}

#about-me-picture {
    max-width: 300px;
    border-radius: var(--border-radius);
}

.about-image-container {
    max-width: 400px !important;
    align-items: center;
    justify-content: center;
}

/* Project Information */
#project-information {
    display: none;
    margin: 0 auto auto;
}

.more-information {
    display: grid;
    margin-bottom: 20px !important;
    row-gap: 10px;
    grid-template-columns: 1fr;
}

#satellite-experience {
    grid-template-rows: repeat(8, auto);
}

.more-information-title {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: var(--border-radius);
    border-color: white !important;
    cursor: default !important;
    padding: 10px !important;
    margin: auto 15px auto 15px;
}

.stage-zero {
    grid-area: 2 / 1 / 3 / 2;
}

.stage-one {
    grid-area: 3 / 1 / 4 / 2;
}

.stage-two {
    grid-area: 4 / 1 / 5 / 2;
}

.stage-three {
    grid-area: 5 / 1 / 6 / 2;
}

.stage-four {
    grid-area: 6 / 1 / 7 / 2;
}

.stage-five {
    grid-area: 7 / 1 / 8 / 2;
}

.stage-six {
    grid-area: 8 / 1 / 9 / 2;
}

.stage-title {
    margin: auto auto auto 10px;
    padding: 10px 0 10px 10px;
    text-align: left;
    grid-area: 1 / 1 / 2 / 2
}

.stage-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px !important;
    min-width: 70vw;
    background-color: var(--secondary-dark-color) !important;
    font-weight: bold;
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: var(--border-width);
    border-color: white !important;
    margin: 15px;
    box-shadow : black 0 0 20px;
}

.hidden {
    transition: max-height 1s linear;
    max-height: 0;
}

.stage-image {
    grid-area: 1 / 3 / 2 / 4 ;
    margin: auto 20px auto auto;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

.project-title-font {
    z-index: 1;
}

.stage-description {
    background-color: var(--tertiary-dark-color) !important ;
    align-content: center;
    border: var(--border-width) solid white;
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: fit-content;
    width: 95%;
    grid-area: 4 / 1 / 5 / 2;
}

.stage-image-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    flex-direction: column  !important;
    border: var(--border-width) solid white;
    border-radius: var(--border-radius);
    background-color: var(--tertiary-dark-color) !important;
    width: 95% !important;
    max-width: 600px !important;
    padding-bottom: 34px;
    aspect-ratio: 1 / 1;

    grid-area: 2 / 1 / 3 / 2;
    margin-top: 5px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.stage-description-image {
    border: var(--border-width) solid var(--tertiary-light-color);
    border-radius: var(--border-radius);
    max-width: 95% !important;
    min-height: 95% !important;
    max-height: 95% !important;
    height: 95% !important;
    margin: auto !important;
}

.image-fade-out {
    animation: fadeOut .5s linear;
    opacity: 0;
}

.top-stage-image {
    z-index: 5 !important;
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: auto;
}

.bottom-stage-image {
    z-index: 4 !important;
    opacity: 1 !important;
    grid-area: 1 / 1 / 2 / 2;
}

.img-scroll-container {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    margin: auto;
    z-index: 100;
    height: 40px;
}

.image-circle {
    width: 30px;
    min-height: 10px;
    border-radius: var(--border-radius);
    margin: auto 10px;
    border: 1px solid var(--secondary-light-color);
    background-color: var(--secondary-light-color);
    cursor: pointer;
}

.image-circle-selector {
    background-color: white !important;
    border-color: white !important;
    width: 0;
    visibility: hidden;
    overflow: hidden;
}

.image-circle-transition-grow {
    visibility: visible;
    animation: growWidth 6.75s ease-out forwards;
}

@keyframes growWidth {
    from {
        width: 0;
    }
    to {
        width: 30px;
    }
}

.left-arrow {
    transform: rotate(90deg);
    min-width: 40px !important;
    max-width: 40px !important;
    cursor: pointer;
}

.right-arrow {
    transform: rotate(-90deg);
    min-width: 40px !important;
    max-width: 40px !important;
    cursor: pointer;
}

.fade-out {
    animation: fade-out 2s linear;
    opacity: 0;
}

.text-top {
    margin-top: 15px;
}

.text-middle {
    margin-bottom: 15px;
    margin-top: 15px;
}

.text {
    height: auto !important;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.text-bottom {
    margin-bottom: 15px;
}

.dropdown-hitbox {
    display: grid;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-color: var(--transparent-color) var(--transparent-color) white var(--transparent-color);
    border-width: 2px;
    border-style: solid;
    background-color: var(--tertiary-dark-color) !important;
    cursor: pointer;
}
#projects-dropdown:hover .hitbox-projects {
    display: block;
}
.hitbox-parent {
    position: relative;
}
.hitbox-projects {
    position: absolute;
    display: none;
    left: -20%;
    top: -20px;
    width: 125px;
    height: 100px;
}

.stage-content {
    display: grid;
    z-index: 2;
    background-color: var(--secondary-dark-color) !important;
    border-top-width: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    max-height: 1500px;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    grid-template-columns: 1fr !important;
    grid-template-rows: 0 auto 0 auto 0;
    row-gap: 15px;
}

.selected-arrow {
    transform: rotate(180deg) translateX(-19%);
}

.project-title {
    padding-bottom: 10px;
}

.modal-hidden {
    display: none !important;
}

.modal-visible {
    display: block !important;
}

.contact-blur {
    filter: blur(5px);
}

.overflow-hidden {
    overflow: hidden;
}
#expanding-menu-button {
    display: none;
    cursor: pointer;
    transition: max-height 1s ease-in-out;
    max-height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3px;
    border-bottom: 2px solid var(--secondary-dark-color);
}
#expanding-menu-button:hover {
    border-bottom: 2px solid white;
}
.expanding-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-dark-color);
    transition: max-height 1s ease-in-out;
    max-height: 0;
    overflow: hidden;
}
.hidden-dropdown-button {
    width: 300px;
}

.expanding-animation {
    transition: max-height .5s linear;
    max-height: 350px !important;
}

.ico{
    margin: auto auto auto auto;
    width: 60px;
    height: 60px;
}

.underline {
    border-bottom: 2px solid white;
}

.border {
    border: 2px solid white;
}
.left-align-text {
    text-align: left !important;
}