:root {
    --primary-color:#292934;
    --secondary-light-color:#4A4A5C;
    --tertiary-light-color:#68687C;
    --secondary-dark-color:#1A1A2B;
    --tertiary-dark-color:#111126;

    --trans-blue-color:#5BCEFA;
    --trans-pink-color:#F5A9B8;

    --transparent-color:rgba(0,0,0,0);
    --text-color:#FFFFFF;

    --border-width:3px;
    --border-radius:20px;
}
@font-face {
    font-family: ROSSTEN;
    src: url(fonts/rossten/ROSSTEN.ttf);
}
@font-face {
    font-family: KGLoveMolly;
    src: url(fonts/kg_love_molly/KGLoveMolly.ttf);
}
@media (min-width: 1900px) {
    .stage-image-container {
        grid-area: 1 / 2 / 2 / 3;
        margin-bottom: 10px !important;
    }
    .stage-description {
        grid-area: 1 / 3 / 2 / 4;
        margin: auto auto auto 10px !important;
    }
}
@media (min-width: 1301px) and (max-width: 1900px) {
    .stage-image-container {
        grid-area: 1 / 2 / 2 / 3;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    .stage-description {
        grid-area: 1 / 3 / 2 / 4;
        margin-top: 15px;
        margin-bottom: auto;
    }
}
@media (min-width: 1301px) {
    .project-image-description {
        flex-direction: row;
    }
    .project-image-container {
        margin: auto 10px;
    }
    .stage-content {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto 0 auto;
    }
}
@media (max-width: 1300px) {
    .project-image-description {
        flex-direction: column !important;
    }
    .project-image-container {
        margin: 10px auto !important;
    }
    .stage-content {
        grid-template-columns: 1fr !important;
        grid-template-rows: 0 auto 0 auto 0;
        grid-row-gap: 15px;
    }
    .stage-image-container {
        grid-area: 2 / 1 / 3 / 2;
        margin-top: 5px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .stage-description {
        grid-area: 4 / 1 / 5 / 2;
    }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* BANNER */
#banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 1vh 0;
    border-top-color: var(--tertiary-dark-color);
    background-color: var(--tertiary-dark-color);
    border-bottom-color: var(--secondary-light-color);
    border-style: solid;
}
#banner-trans-flag-left{
    width: 10vh;
    margin-left: auto;
    margin-right: 2vw;
    background-color: var(--tertiary-dark-color);
}
#banner-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-dark-color);
}
#banner-trans-flag-right{
    width: 10vh;
    margin-right: auto;
    margin-left: 2vw;
    background-color: var(--tertiary-dark-color);
}

.main-title {
    font-family: ROSSTEN, serif;
    font-size: clamp(2rem, 9vw, 7vh);
    text-align: center;
    color: var(--text-color);
}
.secondary-title {
    font-family: ROSSTEN, serif;
    font-size: clamp(2rem, 4vw, 4vh);
    text-align: center;
    color: var(--text-color);
}
.dropdown-menu {
    background-color: var(--secondary-light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: var(--border-radius);
    min-width: 110px;
    min-height: 30px;
    max-width: 110px;
    height: 3vh;
    font-family: KGLoveMolly, serif;
    font-weight: bold;
    color: var(--text-color);
    border: 1px solid var(--secondary-dark-color);
    cursor: pointer;
}
#home-page {
    margin-left: 10px;
}
.title {
    font-family: KGLoveMolly, serif;
    font-weight: bold;
    color: var(--text-color);
    
}

.parent-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3vh;
    text-align: center;
    font-family: KGLoveMolly, serif;
    font-weight: bold;
    color: var(--text-color);
}
.hidden-dropdown-item {
    display: none;
    position: absolute;
    transform: translate(0,3vh);
    background-color: var(--secondary-dark-color);
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 3px solid var(--secondary-light-color);
}
.hidden-dropdown-item a {
    text-decoration: none;
    display: block;

}
.title {
    padding: 8px;
}
.title:hover {
    background-color: var(--tertiary-light-color);
}
.dropdown-menu:hover .hidden-dropdown-item{
    display: block;
    z-index: 10;
}
.dropdown-menu:hover{
    border: 1px solid white;
}

/* Trans Flag Bubbles */
.trans-flag-circle-class {
    border-radius: 100%;
}
.circle1 {
    height: 10vh;
    width: 10vh;
    background-color: var(--trans-blue-color);
}
.circle2 {
    height: 9vh;
    width: 9vh;
    background-color: var(--trans-pink-color);
    position: relative;
    top: -9.5vh;
    left: .5vh;
}
.circle3 {
    height: 8vh;
    width: 8vh;
    background-color: white;
    position: relative;
    top: -18vh;
    left: 1vh;
}
.circle4 {
    height: 7vh;
    width: 7vh;
    background-color: var(--trans-pink-color);
    position: relative;
    top: -25.5vh;
    left: 1.5vh;
}
.circle5 {
    height: 6vh;
    width: 6vh;
    background-color: var(--trans-blue-color);
    position: relative;
    top: -32vh;
    left: 2vh;
}
.circle6 {
    height: 5vh;
    width: 5vh;
    background-color: var(--tertiary-dark-color);
    position: relative;
    top: -37.5vh;
    left: 2.5vh;
}
.tag-label {
    display: flex;
    align-self: baseline;
    flex-direction: row;
    color: var(--text-color);
    font-weight: bold;
    margin: 0 0 8px 0;
    padding-bottom: 0.5vh;
    border-width: 1px;
    border-style: solid;
    border-top-color: var(--secondary-light-color);
    border-left-color: var(--secondary-light-color);
    border-right-color: var(--secondary-light-color);
    border-bottom-color: white;
}
/* Dropdown Menu */
#menu {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-dark-color);
    width: 100%;
    height: 4vh;
    align-items: flex-start;
}
/* CONTENT SECTION */
.project-container {
    width: 70vw;
    height: 30%;
    background-color: var(--secondary-light-color);
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
}

.project-title-font {
    font-weight: bold;
    color: var(--text-color);
    font-size: 20px;
}
.project-description {
    color:var(--text-color);
    background-color: var(--tertiary-light-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--border-radius);
}
.project-image-container {
    background-color: var(--tertiary-light-color);
    padding: 10px;
    border-radius: var(--border-radius);
    max-width: 280px;
    max-height: 280px;
    margin: auto 10px;
}
.project-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-tag:hover {
    background-color: var(--tertiary-light-color);
}

.project-tag {
    color: var(--text-color);
    border: 2px solid white;
    border-radius: var(--border-radius);
    margin-left: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    white-space: nowrap;
    padding: 5px;
    cursor: pointer;
}

#content {
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100vw;
    min-height: 70vh;
}
.text {
    margin-top: 20px;
}
.text-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto !important;
}
.project-image {
    padding: 2px;
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    height: 250px;
}
.information {
    display: flex;
    flex-direction: row-reverse;
}
.more-information-button {
    color: var(--text-color);
    border: 4px solid white;
    border-radius: var(--border-radius);
    white-space: nowrap;
    padding: 8px;
    font-weight: bold;
    margin: 15px 0 0 5px;
    font-family: KGLoveMolly, serif;
    cursor: pointer;
}
.more-information-button:hover {
    background-color: var(--tertiary-light-color);
}
.project-image-description {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 2px;
}
/* Global Section */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--tertiary-dark-color);
    overflow-x: hidden;
}
.last-project {
    margin-bottom: 50px;
}
#footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 10vh;
    padding: 0;
    border-bottom-color: var(--tertiary-dark-color);
    background-color: var(--tertiary-dark-color);
    border-top-color: var(--secondary-light-color);
    border-style: solid;
    justify-content: center;
}
#copyright {
    color: var(--text-color);
}
/* Contact Me */
#contact-me {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(50vh - 25vh);
    left: auto;
    right: auto;
    width: 500px;
    height: 50vh;
    border: 2px solid var(--tertiary-dark-color);
    box-shadow: var(--tertiary-dark-color) 0 0 15px;
    visibility: hidden;
    z-index: 1;
}
#modal-backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#close-button-container {
    display: flex;
    flex-direction: row-reverse;
    height: 20%;
}
.line {
    height: 100%;
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-top-color: var(--transparent-color);
    border-left-color: var(--transparent-color);
    border-right-color: var(--transparent-color);
    border-bottom-color: white;
    border-radius: 10px;
}
#left-line {
    transform: rotate(45deg) translate(-20%, -55%);
}
#right-line {
    transform: rotate(-45deg) translate(85%, -130%);
}
#close-button {
    height: 30px;
    width: 30px;
    z-index: 0;
    background-color: var(--transparent-color);
    transform: translate(-25px,30px);
    cursor: pointer;
}
#close-button:hover .line {
    border-bottom-color: var(--tertiary-light-color);
}

.contact-container {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#contact-title {
    margin-right: auto;
    margin-left: auto;
    font-size: 7vh;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
}
#contact-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-icons {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}
.contact-locations {
    margin: auto auto auto 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    text-align: center;
}
.contact-title {
    font-size: 27px !important;
    align-self: flex-start ;
    margin: auto auto auto 15px;
}
#github-title {
    text-decoration-line: underline;
    cursor: pointer;
}
#psyche-title {
    text-decoration-line: underline;
    cursor: pointer;
}
/* About Me */
#about-me {
    display: none;
    background-color: var(--primary-color);
    min-height: 72vh;
    min-width: 100vw;
}
.about-me {
    max-width: 1000px;
}
#about-me-picture {
    max-width: 300px;
}
.about-image-container {
    max-width: 400px !important;
    max-height: 400px !important;
}

/* Project Information */
#project-information {
    display: none;
    margin: 0 auto auto auto;
}
.more-information {
    display: grid !important;
    margin-bottom: 20px !important;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
}
#satellite-experience {

    grid-template-rows: repeat(8, auto);

}
#lore-mythology-experience {
    display: none !important;
}
#genetic-algorithm-information {
    display: none !important;
}
.more-information-title {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: var(--border-radius);
    border-color: white !important;
    cursor: default !important;
    padding: 10px !important;
}
.stage-zero {
    grid-area: 2 / 1 / 3 / 2;
}
.stage-one {
    grid-area: 3 / 1 / 4 / 2;
}
.stage-two {
    grid-area: 4 / 1 / 5 / 2;
}
.stage-three {
    grid-area: 5 / 1 / 6 / 2;
}
.stage-four {
    grid-area: 6 / 1 / 7 / 2;
}
.stage-five {
    grid-area: 7 / 1 / 8 / 2;
}
.stage-six {
    grid-area: 8 / 1 / 9 / 2;
}
.stage-title {
    margin: auto auto auto 10px;
    padding: 10px 0 10px 10px;
    text-align: left;
    grid-area: 1 / 1 / 2 / 2
}
.stage-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    min-width: 70vw;
    background-color: var(--secondary-dark-color) !important;
    font-weight: bold;
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: var(--border-width);
    border-color: white !important;
}

.stage-image {
    grid-area: 1 / 3 / 2 / 4 ;
    margin: auto 20px auto auto;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}
.project-title-font {
    z-index: 1;
}
.stage-description {
    background-color: var(--tertiary-dark-color) !important ;
    align-content: center;
    border: var(--border-width) solid white;
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 95%;
}
.stage-image-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    flex-direction: column  !important;
    border: var(--border-width) solid white;
    border-radius: var(--border-radius);
    background-color: var(--tertiary-dark-color) !important;
    width: 95% !important;
    max-width: 600px !important;
    padding-bottom: 34px;
    aspect-ratio: 1 / 1;
}
.stage-description-image {
    border: var(--border-width) solid var(--tertiary-light-color);
    border-radius: var(--border-radius);
    max-width: 95% !important;
    min-width: 95% !important;
    width: 95% !important;
    min-height: 95% !important;
    max-height: 95% !important;
    height: 95% !important;
    margin: auto !important;
}
.image-fade-out {
    animation: fadeOut .5s linear;
    opacity: 0;
}
.top-stage-image {
    opacity: 1;
    z-index: 5 !important;
    grid-area: 1 / 1 / 2 / 2;
}
.bottom-stage-image {
    z-index: 4 !important;
    opacity: 1 !important;
    grid-area: 1 / 1 / 2 / 2;
}
.img-scroll-container {
    grid-area: 2 / 1 / 3 / 2;

    display: grid;
    margin: auto;
    z-index: 100;
    height: 40px;
}

.image-circle {
    width: 30px;
    min-height: 10px;
    border-radius: var(--border-radius);
    margin: auto 10px;
    border: 1px solid var(--secondary-light-color);
    background-color: var(--secondary-light-color);
}
.image-circle-selector {
    visibility: hidden;
    background-color: white !important;
    border-color: white !important;
    width: 0;
    overflow: hidden;
}
.image-circle-transition-grow {
    visibility: visible;
    width: 30px;
    transition: width 5s ease-out;
}
.left-arrow {
    transform: rotate(90deg);
    min-width: 40px !important;
    max-width: 40px !important;
    cursor: pointer;
}
.right-arrow {
    transform: rotate(-90deg);
    min-width: 40px !important;
    max-width: 40px !important;
    cursor: pointer;
}

.fadeOut {
    animation: fadeOut 1s ease-in;
    opacity: 0;
}
.text-top {
    margin-top: 15px;
}
.text-middle {
    margin-bottom: 15px;
    margin-top: 15px;
}
.text {
    height: auto !important;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: clamp(16px, 2vw, 20px);
}
.text-bottom {
    margin-bottom: 15px;
}
.dropdown-hitbox {
    display: grid;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-color: var(--transparent-color) var(--transparent-color) white var(--transparent-color);
    border-width: 2px;
    border-style: solid;
    background-color: var(--tertiary-dark-color) !important;
    cursor: pointer;
}
.stage-content {
    display: grid !important;
    z-index: 2;
    background-color: var(--secondary-dark-color) !important;
    border-top-width: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.selected-arrow {
    transform: rotate(180deg);
}
.project-title {
    padding-bottom: 10px;
}